@charset "utf-8";

*, *::before, *::after {box-sizing: border-box;}
a {text-decoration: none; color:#666; }
body {font-size:0.8rem; color:#666; width:100%;}

/* 모바일 메인 */

header {width:100%; height:80px; border-bottom:1px solid #b4b4b4;
      position:fixed; background: #fff;
      box-shadow: 1px 1px 5px 1px #b4b4b4;
      z-index:11;}
.hamburger{
            background:none;
            position:absolute;
            top:2px;
            left:0;
            line-height:80px;
            padding:0px 15px 0px 15px;
            color:#1141c7;
            border:0;
            font-size:1.6em;
            font-weight:bold;
            cursor:pointer;
            outline:none;
            z-index:100000;
          }          
           
header h1 {margin-left:55px; line-height:80px; }
header h1 a img {width:25%;}

/* 하단 고정 메뉴 */
.bottomNav {
      position: fixed;
      width:100%;
      background: #fff;
      z-index:11;
      left: 0;
      bottom: -80px;
      height: 80px; /*6rem */
      font-size:1rem;
      border-top:1px solid #b4b4b4;
      color:#818181;
      display:block;
      box-shadow:5px 2px 5px 3px #b4b4b4;
      transition: bottom 0.2s;
    }
.bottomNav.show {bottom:0;}

.bottomNav ul {width:100%; height:80px; display:flex; justify-content: center;
                  flex-wrap: wrap;}
.bottomNav ul li {width:33.3%; height:20px;text-align: center;
                        margin-top:18px; margin-bottom:0;}
.bottomNav ul li a.map {padding:0; position:relative; top:0px;}                      
.bottomNav ul li .xi-log-in, .xi-border-color {font-size:1.4rem; 
                                          font-weight:normal;  color: #818181;}
.bottomNav ul li .xi-map-o {font-size:1.4rem; color:#818181;}
.bottomNav ul li:nth-child(4) {font-size:0.7rem; height:20px; margin-top:7px;
                                    margin-bottom:20px;}
.bottomNav ul li:nth-child(5) {font-size:0.7rem; height:20px;margin-top:9px;
                                    margin-bottom:20px;}
.bottomNav ul li:nth-child(6) {font-size:0.7rem; height:20px;margin-top:9px;
                                    margin-bottom:20px;}
.bottomNav ul li a i:hover {color:#979cda; transition:all .5s;}

/* 햄버거 메뉴 - 슬라이드 */
.menu {width:70%; height:100%; 
      position:absolute; top:80px; left: -70%;
      border-right:1px solid #b4b4b4;
      /* box-shadow:1px 1px 5px 1px #b4b4b4; */
      z-index:10; background: #fff;
      transition:all .5s;}
.menu ul {width:100%;background: #fff;}
.menu ul li {padding:50px 0 10px 50px; text-indent:30px;
            font-size:1.1rem; }
.menu ul li a {color:#6168a8; font-weight:bold;}

.menu.open { position:fixed;left:0;top:80px;width:70%;}

.menu ul li a:hover {font-weight:bold; color:#1a25ab; transition: all .5s;}

/* 모바일 화면 */
#one {width:100%; }
#one #image {width:100%; padding-top:80px;}
#one #image ul {width:100%;display: flex; justify-content: center;}
#one #image ul li {width:50%;}
#one #image ul li img {width:100%;opacity:1; transition: .3s ease-in-out;}
#one #image ul li img:hover {opacity:0.7;}

#one #biglogo {width:100%;}
#one #biglogo ul {width:80%; margin:40px auto;}
#one #biglogo ul li {width:100%; text-align: center; 
                      padding-top:25px; padding-bottom:25px;}
#one #biglogo ul li button {border:none; width:125px;
                              height:45px; background: #1a25ab;
                            color:#fff;}
#one #biglogo ul .day {font-size:1rem; font-style:italic;
                        padding-top:50px;}                    
#one #biglogo ul li img {width:100%;}

#two {display:none;}

/* 갤러리 */
#gallery {text-align:center; width:100%;}
#gallery .xi-color-helper {font-size:4rem; font-weight: normal; color:#000;
                        }
#gallery h2 {font-weight: normal;margin-top:-29px;}
#gallery .photo {width:85%; margin:55px auto;}
#gallery .photo li {width:100%; margin:30px 0;}
#gallery .photo li:last-child {width:100%; padding:0; text-align: right;}
#gallery .photo li a img {width:100%; filter:grayscale(0); 
                        transition: .3s ease-in-out;}
#gallery .photo li a img:hover {filter:grayscale(100%);}
#gallery .photo button {border:none; width:125px; 
      height:45px; background:#1a25ab; color:#f3e9e9;}

/* contact us */
#contact {text-align:center; width:100%; background:#FAF6F6;
            border-top:1px solid #f0eded;
            border-bottom:1px solid #f0eded;}
#contact .xi-color-helper {font-size:4rem; font-weight: normal; color:#000;
                        padding-top:20px;}
#contact h2 {font-weight: normal;margin-top:-29px;}
#contact ul {width:80%; margin:55px auto;}
#contact ul li {width:100%; padding-bottom:50px;}
#contact ul li:last-child {padding-bottom:0;}
#contact ul li a .xi-message-o, .xi-users-o, .xi-gift-o {font-size:5rem; font-weight:lighter;}
#contact ul li a span {display:block; font-size:1.4rem;}
/* #contact ul li a .xi-users-o {font-size:5rem;} */

/* Location */
#cafeloca {text-align:center; width:100%;font-weight: normal; padding-top:70px;}
#cafeloca .xi-color-helper {font-size:4rem; font-weight: normal; color:#000;
                        margin-top:55px; }
#cafeloca h2 {margin-top:-29px; font-weight:normal}
#cafeloca .out {width:90%; margin:0px auto; padding:50px 0 50px 0px; }
#cafeloca .out li img {width:100%;}
#cafeloca .out li .in {width:80%; margin:0 auto; padding:30px 0 0 35px;}
#cafeloca .out li .in li {text-align: left; padding-bottom:5px;
                        font-size:0.8rem;}

/* 하단 푸터 */
footer {padding-bottom:0px; text-align: center;
      border-top:1px solid #cecccc; line-height:40px;
      font-size:0.7rem;}



/* ajax 연습 */
.span {padding-top:200px;}
#down {position:absolute; bottom:80px; left:0; width:100%; 
      height:80px; line-height:80px; 
      font-size:0.8rem; text-align: center;
      border-top:1px solid #b4b4b4;
      padding-bottom:80px;}

/* location.html */
#aa {padding-top:100px; padding-left:20px; padding-right:20px;}

#contact ul li a:hover {color:#333;}





                  /* 햄버거 - x 로 모양 변하게 
                  갤러리 - 모달 ㅇ  
                  서브 페이지 연결
                  : Join us 버튼 누르면 입력창 나오게
                  More 버튼 > gallery.html
                  Contact us 아이콘
                  recruit 아이콘
                  catering 아이콘 3개는 한 페이지에
                  contactus.html                  
                  Location.html
                  Service.html
                  login.html

                   */

/* 반응형 */
/* 태블릿 */

@media screen and (min-width:768px) { 
      

header h1 {margin-left:55px; line-height:80px;}
header h1 a img {width:15%;}

/* 하단 고정 메뉴 */
.bottomNav { width:30%;
            position: fixed;
            background: #fff;
            z-index:11;
            left: 67%;
            top: 0px;
            height: 80px; /*6rem */
            font-size:1rem;
            border-bottom:1px solid #b4b4b4;
            border-top:none;
            box-shadow: none; 
            color:#818181;
          }
.bottomNav ul {width:100%; height:80px; 
                  display:flex; 
                  justify-content: center;
                  flex-wrap: wrap; padding-top:4%;}
.bottomNav ul li {width:33.3%; height:40px; 
                  text-align: center;
                  margin-top:0px; margin-bottom:0;}
.bottomNav ul li a {margin:0; display:block;}
.bottomNav ul li .icon-login, .icon-edit {font-size:1.2rem; 
                                    font-weight:normal; color: #818181;
                                    padding-top:13%;}
.bottomNav ul li a .xi-map-o {font-size:1.4rem; color:#818181;
                                    padding-top:8%;}
.bottomNav ul li:nth-child(4) {font-size:0.7rem; height:40px;
                                  margin-top:-6px; margin-bottom:0px;}
.bottomNav ul li:nth-child(5) {font-size:0.7rem; height:40px;
                                    margin-top:-4px; margin-bottom:0px;}
.bottomNav ul li:nth-child(6) {font-size:0.7rem; height:40px;
                                    margin-top:-4px; margin-bottom:0px;}
.bottomNav ul li a i:hover {color:#979cda; transition:all .5s;}

/* 모바일 화면 안보이도록 */
#one {display:none;}

/* 태블릿 화면 */
#two {width:100%; padding-top:80px;}

#two #coffee {width:80%; margin:50px auto;}
#two #coffee ul {width:100%; padding-top:70px;}
#two #coffee ul li {width:100%; text-align: center;
                  padding-bottom:30px;}
#two #coffee ul li:last-child {padding-top:15px;}
#two #coffee ul li img {width:50%;}
#two #coffee ul li button {border:none; width:125px;
                        height:45px; background: #1a25ab;
                        color:#fff;}

#two #photo {width:80%; margin:0 auto;}
#two #photo ul {width:100%; display:flex; justify-content: center; 
            flex-wrap: wrap; margin-bottom:70px;}
#two #photo ul li {width:50%;}
#two #photo ul li img {width:100%; opacity:1; transition: .3s ease-in-out;}
#two #photo ul li img:hover {opacity:0.7;}
#two #photo p {text-align: center; font-size:1rem; font-style:italic;
                  padding:55px 0;}


/* 갤러리 */
#gallery .xi-color-helper {font-size:2.3rem; font-weight: normal; color:#000;}
#gallery .photo {width:80%; margin:0 auto; padding:55px 0;
                  display:flex; justify-content: center; flex-wrap: wrap;}
#gallery .photo li {width:50%; padding:7px; margin:0;}
#gallery .photo button {border:none; width:125px; 
      height:45px; margin:20px 7px;background:#1a25ab; color:#f3e9e9;}

#contact ul li {float:left; width:33.3%; padding-bottom:50px;}
#contact ul li:last-child {padding-bottom:50px;}

}

@media screen and (min-width:1200px) {

}
